@{
    ViewData["Title"] = "Home Page";
}

<div id="row">
    <div class="col-md-12">
        <br/>
        <b>Environment:</b> @ViewData["Environment"]<br/>
        <b>ServerName:</b> @ViewData["ServerName"]
        <br/>&nbsp;<br/>
    </div>
</div>
